body {
    font-family: 'Arial', sans-serif;
    background-color: #fff0f6;
    color: #333;
    margin: 0;
    padding: 0;
}

.happy-container {
    text-align: center;
    margin: 50px auto;
    max-width: 800px;
    background-color: #ffecf1;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #ff69b4;
    font-size: 2.5rem;
}

button.back-home-button {
    background-color: #ff69b4;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}
button.back-home-button:hover {
    background-color: #ff4391;
}

.love-overflow, .celebration {
    margin-top: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin: 10px 0;
    font-size: 18px;
}
